<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


	<!-- <context:component-scan base-package="com.zzsxt.lee.shiro.controller"></context:component-scan> -->
	<!-- 自动扫描且只扫描@Controller -->
<!--	<context:component-scan base-package="com.yy.dubbo.controller"
		use-default-filters="false">-->
		<!--
			context:include-filter:包含扫描
			因为springmvc需要扫描controller层
			springmvc框架需要把所有@Controller注解全部扫描
			include：包含
			exclude:排除
		 -->
<!--		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:include-filter type="annotation"
			expression="org.springframework.web.bind.annotation.ControllerAdvice" />
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
	</context:component-scan>

	&lt;!&ndash; 当在web.xml 中 DispatcherServlet使用 <url-pattern>/</url-pattern> 映射时，能映射静态资源 &ndash;&gt;
	<mvc:default-servlet-handler />-->

	<!-- 可用在springmvc.xml配置文件中使用<mvc:annotation-driven>替代注解处理器和适配器的配置。 -->
<!--	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<constructor-arg index="0" value="UTF-8" />
			</bean>
			&lt;!&ndash; json格式的转换器(json格式化) &ndash;&gt;
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="prettyPrint" value="true" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>-->

	<!-- Jsp视图解析器 -->
	<!--<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="" />
		<property name="suffix" value=".jsp" />
	</bean>-->
	<!-- 开启aop切面 -->
	<!--<aop:config proxy-target-class="true" />-->
	<!-- 开启shiro的注解 -->
	<!--<bean
		class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>-->
	<!--<bean id="userService" class="com.zzsxt.lee.shiro.service.UserService" />-->
	<!--<bean id="goodsService" class="com.ldp.demo.service.impl.GoodsServicesImpl" />-->
</beans>
