<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">
<!--开启事物-->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<!--配置事物的属性-->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="find*" read-only="true"/>
			<tx:method name="update*"/>
			<tx:method name="say*" read-only="true"/>
			<tx:method name="create*"/>
			<tx:method name="select*" read-only="true"/>
		</tx:attributes>
	</tx:advice>

	<!--开放下面不知道为啥注册不了 可能是dubbo配置的原因 service:  expression="execution(* com.yy.dubbo.service.HelloService.*(..)  -->
	<!--建立切入点，然后切入点和事物的属性进行关联-->
	<aop:config>
		<aop:pointcut id="txPointCut" expression="execution(* com.yy.dubbo.dao.UserDao.*(..))"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txPointCut"/>
	</aop:config>
</beans>
